<launch>
    <node pkg="pwm_pca9685" type="pca9685_node" name="pca9685_node_1">
        <param name="frequency" value="50"/>
        <rosparam param="timeout_value">
            [4900, 4500, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
        </rosparam>
    </node>
    <node pkg="motor_driver" type="motor_driver.py" name="motor_driver_1"/>
</launch>