[Unit]
Description=JupyterNotebook

[Service]
After=network-online.target
Wants=network-online.target
Type=simple
ExecStart=/home/robot/.local/bin/jupyter-lab
User=robot
Group=robot
WorkingDirectory=/home/robot
Restart=always
RestartSec=10
#KillMode=mixed

[Install]
WantedBy=multi-user.target